<div class="product block">
  <h3><%= product.name %></h3>
    <div class="left">
      <% if product.image_filename.present? %>
        <%= image_tag(product.image_filename) %>
      <% end %>
    </div>
    <div class="description">
      <h4>Flavor Text:</h4>
      <p><%= product.flavor_text %></p>
      <h5>Category:</h5>
      <% if product.category.present? %>
        <p><%= product.category.name %></p>
      <% end %>
    </div>
  <div style="text-align: right;" class="clear">
    <form action="#" method="post">
      <%= radio_button_tag(:condition, "mint_#{product.id}", true) %>
      Mint
      <%= radio_button_tag(:condition, "played_#{product.id}") %>
      Played
      <%= select(:quantity, product.id, (0..product.stock_quantity).collect {| quantity | [ "#{quantity}", quantity ] }) %>
      <strong><%= number_to_currency(product.price) %></strong>
      <%= button_tag("Add to cart") %>
    </form>
  </div>
</div>