<div class="product block">
  <h3><%= product.name %></h3>
  <section>
    <% if product.image_filename.present? %>
      <%= image_tag(product.image_filename, class: "left") %>
    <% end %>
    <h4>Flavor Text:</h4>
    <p><%= product.flavor_text %></p>
    <h5>Category:</h5>
    <% if product.category.present? %>
      <p><%= product.category.name %></p>
    <% end %>
  </section>
  <div>
    <%= form_tag("#", method: "get", class: "clear") do %>
      <%= radio_button_tag(:condition, "mint_#{product.id}", true) %>
      <%= label_tag("condition_mint_#{product.id}", "Mint") %>
      <%= radio_button_tag(:condition, "played_#{product.id}") %>
      <%= label_tag("condition_played_#{product.id}", "Played") %>
      <%= select(:quantity, product.id, (0..product.stock_quantity).collect {| quantity | [ "#{quantity}", quantity ] }) %>
      <%= number_to_currency(product.price) %>
      <%= submit_tag("Add to cart") %>
    <% end %>
  </div>
</div>