<!DOCTYPE html>
<html>
<head>
  <title>Hobbystation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header class="block">
      <h1 class="left">Hobbystation</h1>
      <%= form_tag '', method: :get, class: 'right' do %>
        <%= text_field_tag :search_keywords %>
        <%= submit_tag 'Search' %>
      <% end %>
    </header>

    <%= yield %>

    <aside>
      <nav>
        <ul>
          <li><%= link_to 'Show All', root_path %></li>
          <li><%= link_to 'Pokemon', pokemon_path %></li>
          <li><%= link_to 'Magic: The Gathering', magic_path %></li>
          <li><%= link_to 'Yu-Gi-Oh!', yugioh_path %></li>
        </ul>
      </nav>
    </aside>

    <footer class="clear">
      <p><a href="admin/dashboard#index">Admin Login</a></p>
    </footer>
  </div>

</body>
</html>
